.login.screen {
  width: 100vw;
  height: 100vh;
  background-color: #d65b62;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .container {
  width: 1240px;
  min-height: 750px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 40px 15px rgba(0, 0, 0, 0.15);
}

.login .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login .container__form {
  width: 35%;
  padding: 4em 4em;
}

.login .container__illustration {
  width: 65%;
  background-color: #fff6f6;
  border-radius: 0 10px 10px 0;
  padding: 0 50px;
  min-height: inherit;
}

.login .container__illustration img {
  max-width: 500px;
}

.login .logo {
  width: 90px;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.login h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.login .decorated-text {
  position: relative;
}

.login .decorated-text .hr {
  top: 50%;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}

.login .decorated-text p {
  color: #d9d9d9;
  width: fit-content;
  position: relative;
  padding: 0 0.6em;
  z-index: 2;
  text-transform: uppercase;
  font-size: 0.875em;
  background-color: white;
  margin: auto;
}

.login .container__form__input p {
  font-weight: bold;
  margin: 0;
  margin-block: 0.5em;
}

.login .container__form__input p.login-error {
  font-weight: normal;
  font-size: 1em;
  color: #d65b62;
}

.login .container__form__input input {
  width: calc(100% - 1.5em);
  border: none;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
  padding: 0.8em 0 0.8em 1.5em;
  font-size: 0.875em;
  border-radius: 6px;
  display: block;
}

.login .container__form__input input::placeholder {
  color: #d9d9d9;
}

.login .link {
  margin: 0;
  text-align: center;
}

.login .link a {
  color: #d65b62;
  cursor: pointer;
}

.login .margin-block {
  margin: 1.5em 0 0.8em 0;
}

.login .button {
  margin-top: 3em;
  margin-bottom: 1em;
}

/* RESPONSIVE */

@media (max-width: 1024px) {
  .login .container {
    width: 100%;
    height: 100vh;
    border-radius: 0px;
  }
  .login .container__form {
    width: 50%;
    padding: 4em 4em;
  }

  .login .container__illustration {
    width: 50%;
    padding: 0 50px;
    min-height: 100vh;
  }

  .login .container__illustration img {
    max-width: 300px;
  }
}

@media (max-width: 780px) {
  .login .container {
    width: 100%;
  }

  .login .container__illustration {
    display: none;
  }

  .login .container__form {
    width: 100vw;
  }
}

@media (max-width: 500px) {
  .login .container__form {
    padding: 2em 2em;
  }
}
