.button {
  width: 100%;
  padding: 0.3em 0;
  text-align: center;
}

.default {
  background-color: #d65b62;
  color: white;
}

.button.disabled {
  background-color: rgb(238, 238, 238);
  color: grey;
  cursor: not-allowed;
}

.button.default.green {
  background-color: #6fbc1d;
  margin-top: 30px;
  padding: 0.5em 0;
}
