.scrollList {
  .panel {
    width: 100%;

    .panel__noMarkers {
      font-size: 0.8em;
    }

    .panel__category {
      .panel__category__title {
        font-size: 1em;
        margin-top: 0;
      }

      .panel__category__markers {
        box-sizing: border-box;
        margin-left: 15px;
        border-left: 1px solid #d9d9d9;

        .panel__category__markers__link {
          cursor: pointer;
          padding: 10px 20px;
          width: max-content;
          font-size: 0.9em;
          margin: 10px 0 10px 25px;
          box-sizing: border-box;
          border: 1px solid transparent;
          border-radius: 7px;
        }

        .panel__category__markers__link:hover {
          border: 1px solid #b7c2e6;
          box-shadow: 0 0 20px #c2cbe9;
        }

        .panel__category__markers__link.active {
          background-color: #a1aaff47;
          box-shadow: 0 0 20px #c2cbe9;
          border: 1px solid #b7c2e6;
          color: #6079d4;
          font-weight: bold;
          border-radius: 7px;
        }
      }
    }
  }
}
