.popup-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 400px;
  padding: 40px;
  background: #f5f5f5;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 15px;
  border: none;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.login-box .user-box input::placeholder {
  font-size: 14px;
  color: rgb(179, 179, 179);
}

.login-box__close {
  color: #d65b62;
  cursor: pointer;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.login-box__close svg {
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.user-box__title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
}

.login-box .user-box select {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  font-size: 1.2em;
  margin-bottom: 20px;
  background: white;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  border: none;
  outline: none;
}

.login-box .user-box select:focus,
.login-box .user-box select:focus {
  color: black;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ef9e8a;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ef9e8a;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box button {
  margin-top: 10px;
  background: #d65b62;
  width: 100%;
  color: white;
  font-weight: bold;
  border: none;
}

.login-box button:hover {
  background: #993a22;
  color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #ef9e8a, 0 0 25px #ef9e8a, 0 0 20px #ef9e8a,
    0 0 100px #ef9e8a;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ef9e8a);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ef9e8a);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ef9e8a);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ef9e8a);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
